name: SonarCloud analysis

on:
  push:
    branches:
      - main
      - master
  pull_request:

permissions:
  contents: read

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # lets SonarCloud decorate PRs
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}   # SonarCloud token
        with:
          args: >
            -Dsonar.projectKey=komalkhan-0811_SFWRENG-2AA4-Catan
            -Dsonar.organization=komalkhan-0811
            -Dsonar.sources=.
